<div id="treeholder">
  <h1>memoQ Organizational Chart</h1>
  {{#if user}}
    <div class="loading">Loading...<br/>This might take up to a minute.</div>
  {{else}}
    <a href="/auth/signin" class="login">Please sign in</a>
  {{/if}}
  <div id="treeinner"></div>
</div>
