<!DOCTYPE html>
<html>

<head>
  <title>memoQ Organizational Chart</title>
  <link rel='stylesheet' href='/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
</head>

<body>
  {{{body}}}
  <script>
    var margin = { top: 2500, right: 150, bottom: 0, left: 0 },
      width = $("#treeinner").width() - margin.left - margin.right,
      height = $("#treeinner").height() - margin.top - margin.bottom;

    var tree = d3.layout.tree()
      .separation(function (a, b) { return a.parent === b.parent ? 1 : 1.5; })
      .children(function (d) { return d.reports; })
      .nodeSize([70, 320]);

    var svg = d3.select("#treeinner").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json("/org", function (error, json) {
      if (error) throw error;
      $(".loading").addClass("hidden");

      var nodes = tree.nodes(json);

      var link = svg.selectAll(".link")
        .data(tree.links(nodes))
        .enter().append("path")
        .attr("class", "link")
        .attr("d", elbow);

      var node = svg.selectAll(".node")
        .data(nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) { return "translate(" + d.y + "," + d.x + ")"; })


      node.forEach((d) => {
        // spread out the vertical axis (if this isn't here, lines tend to overlap on denser graphs)
        d.x = d.x * 2;
      });

      node.append("text")
        .attr("class", "name")
        .attr("x", 8)
        .attr("y", -6)
        .text(function (d) { return d.displayName; });

      node.append("text")
        .attr("x", 8)
        .attr("y", 8)
        .attr("dy", "6px")
        .attr("class", "about lifespan")
        .text(function (d) { return d.department + ", " + d.jobTitle; });

      node.append("text")
        .attr("x", 8)
        .attr("y", 8)
        .attr("dy", "20px")
        .attr("class", "about location")
        .text(function (d) {
          if (d.officeLocation && d.officeLocation != "") return d.officeLocation;
          else return null;
        });

      //var gBBox = $("#treeinner svg g")[0].getBBox();
      //console.log(gBBox);
      //$("#treeinner svg g").attr("transform", "translate(0, 2500)");

    });

    function elbow(d, i) {
      return "M" + d.source.y + "," + d.source.x
        + "H" + d.target.y + "V" + d.target.x
        + (d.target.children ? "" : "h" + margin.right);
    }
  </script>
</body>

</html>