body {
  height: 100%; width: 100%;
  margin: 0; padding: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

body, div, h1, p { box-sizing: border-box; }

h1 { width: 100%; text-align: center; }
.alert-pre { word-wrap: break-word; word-break: break-all; white-space: pre-wrap; }

#treeholder {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  overflow-y: scroll;
}

#treeinner {
  width: 100%; height: 5000px;
  /*border: 1px solid red;*/
}

.name { font-weight: bold; }
.about { fill: #777; font-size: smaller; }
.link { fill: none; stroke: #000; shape-rendering: crispEdges; }

a.login {
  display: block; width: 200px; margin: 0 auto; background-color: blue; color: white; padding: 5px;
  text-align: center; font-size: 22px; font-weight: bold; text-decoration: none;
}
.loading { text-align: center; font-size: 130%; }
.loading.hidden { display: none; }